@import "../../scss/foundation/variables.scss";
.content-wrapper {
  background-color: $tangerine;
  width: 60%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  padding-inline: 4em;
  form {
    .buttons {
      display: flex;
      justify-content: center;
      column-gap: 1em;
    }
  }
}
.hide {
  display: none;
}
