.RadioButton-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &__options {
      display: flex;
      align-items: center;

      input {
        display: none;
      }
      .button {
        background: #f5f8f9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
        margin-left: 4em;
      }

      .bgActive {
        background-color: #cad7dd;
      }
      .label-hover {
        cursor: pointer;
      }
    }
  }
}
